SUI_PRIVATE_KEY=""
WALRUS_PUBLISHER_URL="https://publisher.walrus-testnet.walrus.space"
WALRUS_AGGREGATOR_URL="https://aggregator.walrus-testnet.walrus.space"
NEXT_PUBLIC_AURA_PACKAGE_ID=""
DEV_DELEGATE_KEY=""
